body {
    background-color: #373E40;
    color: #B7D5D4;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-container {
    max-width: 700px;
    margin: 0 auto;
    padding: 24px;
}

h1 {
    margin-bottom: 20px;
}

.filter-container {
    display: flex;
    gap: 12px;
    margin-bottom: 3rem;
}

.filter-container select {
    padding: 5px 15px;
    border-radius: 6px;
    border: 1px solid #B7D5D4;
    cursor: pointer;
}